body, html {
	margin: 0 5px;
	padding: 0;
}

body {
	background: #bbbbbb;
}

.wrapper {
	margin: 0 auto;
	max-width: 960px;
	background: #ffffff;
	padding: 20px;
	box-shadow: 0 0 7px 0 #333;
}

li.selected, li.selected a {
	pointer-events: none;
	color: #aaaaaa;
}

.footer {
	color: #aaaaaa;
}